<h1>Критическая масса</h1>
<p class="titleauthor"><em><a href="/avtor/rozoff">Rozoff</a></em></p>

<p>Критическая масса</p>
<p>-------------------------</p>
<p>1. Введение. Не нуждается в комментариях.</p>
<p>--------------------------------------------------------</p>
<p>
В 1 ч. 45 мин. 6 августа 1945 г. бомбардировщик Б–29 под названием «Энола Гэй» поднялся с Марианских островов и взял курс на Японию. В 7 час. 30 мин. утра он был у цели — города Хиросима — и, выйдя на боевой курс, сбросил на парашюте бомбу, которая взорвалась в 8 час. 15 мин. на высоте 500–600 метров над землей. Взрыв раздался над деловым центром города в час, когда люди спешили на работу. В результате в радиусе 1–1,5 км от эпицентра взрыва в одно мгновенье люди просто испарились, оставив в память о себе лишь тени. Чуть дальше высокотемпературное пламя сохранило пепел и обгорелые кучи костей. Пронесшаяся сразу ударная волна разрушила в радиусе 3 км то, что не успело расплавиться при вспышке, и понеслась дальше, превратив город в пустыню. Начавшееся следом радиоактивное заражение плотностью около 400 рад — смертельная доза для человека — завершило дело. Точное число жертв неизвестно до сих пор… (Энциклопедия «Япония от А до Я»)
</p>
<p>
В 1209 г. Иннокентий III предпринял против альбигойцев крестовый поход. Собранное войско, состоящее преимущественно из любителей легкой наживы, в течение 20 лет разоряло южную Францию. Апогеем этой так называемой &quot;Лангедокской войны&quot; явилось полное уничтожение населения г.Безье - около 20 тыс. человек без разбора пола, возраста и вероисповедания. Именно там была произнесена знаменитая фраза: &quot;Убивайте всех, Бог на небе узнает своих!&quot; На Тулузском соборе 1229 г. были поставлены строгие правила относительно разыскивания еретиков-альбигойцев и их наказания. В 1232 г. папа Григорий IX учредил для расследования альбигойской ереси инквизицонный суд, управление которым предоставил доминиканскому ордену. Папа Иннокентий IV разрешил в 1259 г. применение пыток против еретиков. В конце XIII века альбигойцы были окончательно истреблены. (Дмитрий Таевский. «История религии»)
</p>
<p>
    <pre>
    Тут одного я боюсь: чтобы как-нибудь ты не подумал,
    Что приобщаешься мной к нечестивым ученьям, вступая
    На преступлений стезю. Но, напротив, религия больше
    И нечестивых сама и преступных деяний рождала… 
    Вот к злодеяньям каким побуждала религия смертных.
    (Тит Лукреций Кар. «О природе вещей». Книга I)
    </pre>
</p>

<p>
    <p>2. Атомная бомба и библия. Системные аналогии. </p>
    <p>----------------------------------------------------------------</p>
</p>
<p>На самом деле, речь пойдет не о ядерной физике и даже не о ядерном оружии. Упомянутая атомная бомба будет использована в мирных научных целях – просто как эталон убойной силы оружия массового поражения. <br>
Этим эталоном мы воспользуемся для измерения гораздо более опасного и смертоносного инструмента: мировых религий, вплетенных в систему социальных мотиваций. <br>
«Но, - заявит кто-то&nbsp; из современных европейских христиан – ведь на религии основаны представления о добре и зле мораль и нравственность, десять заповедей…» и т.д. <br>
К сожалению, он будет абсолютно прав. </p>
<p>Потому что представления о добре и зле мораль и нравственность для большей части жителей нашей планеты основаны на религии. А религии, в которых присутствуют эти самые десять заповедей (т.е. христианство, ислам и иудаизм), наиболее распространены&nbsp; – каждый второй житель планеты считает священной книгой или библию или коран. Все эти три&nbsp; религии называются авраамитскими&nbsp; - поскольку в основе их системы ценностей лежит миф о жертвоприношении Авраама из книги Беришит (Бытие).</p>
<p> Напомним фабулу. </p>
<p> Авраам получает от бога приказ принести в жертву своего единственного сына – и, ни минуты не задумываясь, начинает подготовку к этому акту. Вот подросток уже лежит на жертвенном камне, в руке его отца – нож…&nbsp; Но происходит чудо, бог прекращает процедуру. Готовность Авраама без колебаний принести в жертву своему богу самое дорогое – единственного сына - подтверждена.&nbsp; Бог доволен и обещает&nbsp; роду Авраама&nbsp; многочисленность и военные победы.&nbsp;</p>
<p> Так мифологически устанавливается жесткий приоритет: обязанности перед богом неизмеримо выше каких бы то ни было обязанностей перед любым человеком, будь то хоть отец или мать, хоть муж или жена, хоть ребенок. Поэтому и 10 заповедей сконструированы так: первые 5 заповедей – обязанности перед богом и только последние 5 устанавливают некоторые нормы межчеловеческих отношений.</p>
<p> Это – очень важная особенность авраамитских религий и связанной с ними авраамитской религиозной морали. Любой, даже самый чудовищный поступок, с легкостью может превратиться в одобряемое общеобязательное действие. Для этого необходима сущая мелочь – приказ бога. </p>
<p> «Ничего себе мелочь, - возмутится кто-то&nbsp; из современных европейских христиан – ведь непосредственное изъявление воли бога человеку - редчайшее чудо, откровение, происходящее, быть может, раз в тысячелетие…»</p>
<p> И он снова будет абсолютно прав.</p>
<p> Даже если предположить, что какой-то бог существует, и что он может обращаться со словами повеления непосредственно к человеку, ни в одной религии такое событие не признается достаточно частым, чтобы учитывать его в повседневной практике.&nbsp; </p>
<p> Именно поэтому любое религиозное объединение авраамитского типа на определенном этапе роста и концентрации создает специальный институт жрецов – священнослужителей.</p>
<p> Функцией этого института как раз и является отдача приказов от имени бога (коль скоро сам бог делает это слишком редко и нерегулярно). </p>
<p> Правоверные! – говорит главный жрец, - бог хочет чтобы вы…. И далее следует повеление, которое для членов соответствующего религиозного объединения имеет силу высшего закона. </p>
<p> Если бог хочет, чтобы они отдали все свое имущество – они отдадут, пусть только скажет, кому. Если бог хочет, чтобы они умерли – они умрут, пусть только скажет, когда. Если бог хочет, чтобы они убили – они убьют, пусть только скажет, кого. </p>
<p> Некую предельную численность членов объединения (с учетом плотности населения и еще некоторых социальных факторов), после которой подобное становится возможным, я назову критической массой – по аналогии с таковой у делящихся материалов (урана-235, плутония-239 и т.п.).</p>
<p> Если критическая масса достигнута – взрыв возможен в любой момент. </p>
<div>
Александр Розов. Европа. Май 2004 г.&nbsp; 
</div>

<div class="copyright">&copy; Copyright: <a href="/avtor/rozoff">Rozoff</a>, 2004