.highlight {
    background-color: lightgreen
}

.linkLike {
    cursor: pointer;
    padding: 1px 4px 1px 4px; 
    border-top: 1px solid lightblue;
}
.linkLike:first-child {
    border: none;
}

.linkLike:hover {
    color: blue;
    background-color: beige;
    border-radius: 3px;
}

#hMenu, #tMenu {
    position: absolute;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    padding: 10px 2px 10px 2px;
    overflow-wrap: break-word;
}

#slContext {
    position: absolute;
    width: 200px;
    height: 120px;
    z-index: 999;
    top: 10px;
    bottom: 10px;
/*    border: 1px solid gray;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    background-color: white;
    padding: 10px;
    overflow-wrap: break-word;
}

#hCommentContentWrapper {
    position: fixed; 
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0, 0.5);;
    z-index: 1020;
}

.edContent {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    background-color: white;
    padding: 10px;
    overflow-wrap: break-word;

    position: fixed;
    width: 500px; height: 200px;
    margin-left: -250px; margin-top: -100px;
    left: 50%; top: 50%;
}

.edContent div {
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-bottom: 2px;
    padding: 2px 5px 2px 5px;
}

.edContent div.content div {
    border: none; padding: 0px; margin: 0px;
}

.edContent .content {
    height: 120px;
}

.edContent select {
    width: 100%;
    border: none;
}

#bookHamburger {
    position: fixed;
    z-index: 999;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: rgba(255,255,255, 0.5);
    width: 30px;
    padding-left: 5px;
    cursor: pointer;
}
#bookHamburger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;    
}

#hmMenu {
    position: fixed;
    z-index: 1040;
    top: 15px;
    right: 15px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 6px;
    padding-top: 6px;
    width: 250px;
}

#hmMenu .hmItem {
    padding: 3px 0px 0px 0px;
}

#hmMenu .hmItem div{
    height: 18px;
    margin: 3px 3px 1px 4px;
}